body {
    font-family: serif;
    color: #222;
    margin: 50px 150px;
    max-width: 750px;
}

h1 {
    font-size: 3.5rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.3;
}

.cover {
    max-width: 1600px;
    max-height: 840px;
}

.cover img {
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}
