@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #1e1e30;
    color: #fff5dd;
    margin: 50px 150px;
    max-width: 850px;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.3;
}
